.Order-Page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Book-Order {
  height: auto;
  width: auto;
}
.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-color: gray;
  flex-direction: column;
}
.order-input-container {
  height: auto;
  width: 380px;
  display: flex;
  flex-direction: row;
}
.order-input {
  height: 50px;
  width: 250px;
  outline: none;
  font-size: large;
}
.order-button {
  height: auto;
  width: 130px;
}
.add-basket-button {
  width: auto;
  height: 45px;
}
.ordered-book {
  height: auto;
  width: 250px;
}
.ordered-book-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.ordered-book-row {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.order-basket table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.order-basket th,
.order-basket td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.order-basket th {
  background-color: #4caf50;
  color: white;
}

.order-basket .cancel-button {
  color: red;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
}

.order-basket .cancel-button:hover {
  background-color: #ffdddd;
}
